.radio-container {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: space-between;
  }
  
  .radio-container input[type="radio"] {
    display: none;
  }
  
  .radio-container label {
    cursor: pointer; 
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 15px;
    font-size: 1.3rem;
  }
  
  .radio-container input[type="radio"]:checked + label {
    background-color: #FFEECC; 
    color: black;
  }
  