.son {
    background-color: #1A1A1A;
    display: flex;
    gap: 8rem;
  }
  
  .footer-son {
    display: flex;
    justify-content: space-between; 
  }
  
  .nav-son {
    display: flex;
    flex-direction: column; 
    text-decoration: none;
    color: white; 
  }

  .son-a {
    text-decoration: none; 
    color: white; 
    line-height: 1.5rem; 
    font-family: Barlow, sans-serif;
    font-weight: 200; 
    text-align: left; 
  }
  
  .son-ilk h1 {
    color: white; 
    width: 8rem; 
    font-family: 'Londrina Solid', cursive; 
    font-weight: 700; 
    line-height: 3rem; 
    text-align: left; 
    margin: 2rem; 
  }
  
  .son-iki {
    color: white; 
    margin: 20px;
  }
  
  .son-iki h1 {
    font-family: Barlow, sans-serif; 
    font-weight: 500; 
    line-height: 2rem; 
    text-align: left; 
    color: white;
  }
  
  .son-iki p {
    font-family: Barlow, sans-serif; 
    font-weight: 200; 
    line-height: 32.4px; 
    text-align: left; 
  }
  
  .son-uc {
    color: white; 
    width: 25rem; 
    margin: 4rem; 
  }
  
  .son-uc h1 {
    margin: 2.5rem 0; 
    font-family: Barlow, sans-serif; 
    font-size: 2rem; 
    font-weight: 500; 
    line-height: 2rem; 
    text-align: left;
    color: white;
  }
  
  .footer-icon {
    background-color: #1A1A1A;
    display: flex; 
    gap: 8rem;
    color: white; 
    border-top: solid 1px white; 
  }
  .foot {
    max-width: 1072px;
    margin: 0 auto;
  }
  .son-uc-img {
    display: flex;
    flex-wrap: wrap;
    max-width: 300px;
    justify-content: space-between;
  }