.card {
    text-align: center;
    border: 3px solid blue;
    background-image: url("./Assets/Iteration-1-assets/home-banner.png");
    height: 1080px;
    font-size: 2rem;
}
.card h1 {
    color: white;
}
.card button {
    background-color: yellow;
    border-radius: 2rem;
}
.sect1 {
    font-family: Satisfy;
    font-size: 32px;
    font-weight: 400;
    line-height: 44.27px;
    text-align: center;
    color: #CE2829;
}
.sect2 {
    font-family: Barlow;
    font-size: 42px;
    font-weight: 600;
    line-height: 56.2px;
    text-align: center;
}